.education {
    margin: 0px;
}

.education .conquest h3{
    text-align: center;
    margin-bottom: 1.125rem;
}

.conquest ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.conquest li {
    margin-right: 10px;

}

.conquest img {
    max-width: 60px;
    margin-right: .5rem;
}

.formation {
    list-style: none;
    padding: 0;
    margin: 2rem 0;
}

.formation li{
    margin-bottom: 2.5rem;
}

.formation li .period{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}


.formation li .period::before {
    content: '';
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-size: contain;
    background-image: url('/assets/img/icons/calendar.svg');
    background-repeat: no-repeat;
    margin-right: .5rem;
}

